<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drawing Tablet</title>
  <!-- <link rel="stylesheet" href="style.css" />
  <script src = "lib/jquery.min.js"></script>
  <script src = "lib/fabric.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/regression/2.0.1/regression.min.js"></script> -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/favicon.png') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='javascripts/lib/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascripts/lib/fabric.min.js') }}"></script>


</head>
<body>
  
  <div id="canvas-container">
    <canvas id="c"></canvas>
  </div>

  <div id="infinite-grid"></div>

  
  <div class="dt-control-container">
    <div class="dt-tools-container">
      <!-- <img src="./assets/pencil.svg" title="Brush" id="pencil" alt="" /> -->
      <img src="{{ url_for('static', filename='assets/pencil.svg') }}" title="Brush" id="pencil" alt="">
    </div>
    <div class="dt-tools-container">
      <!-- <img src="./assets/highlighter.svg" title="Copy Brush" id="highlighter" alt="" /> -->
      <img src="{{ url_for('static', filename='assets/highlighter.svg') }}" title="Copy Brush" id="highlighter" alt="">
    </div>
    <div class="dt-tools-container">
      <img src="{{ url_for('static', filename='assets/eraser.png') }}" title="Eraser" id="eraser" alt="" />
    </div>
    <div class="dt-tools-container" style="margin-right: 0.8rem">
      <!-- <img src="./assets/clear-all.png" title="clear" id="clear" alt="" /> -->
      <img src="{{ url_for('static', filename='assets/clear-all.png') }}" title="clear" id="clear" alt="" />
    </div>

    <div class="dt-tools-container">
      <!-- <img src="./assets/x1.png" title="dx" id="dx" alt=""/> -->
      <img src="{{ url_for('static', filename='assets/x1.png') }}" title="dx" id="dx" alt="" />
    </div>

    

    <div class="dt-tools-container">
      <div class="dt-button-container">
        <select id="shape-selector">
          <option value="Shape Select" selected>Select Shape</option>
            <option value="rectangle">Rectangle</option>
            <option value="circle">Circle</option>
            <option value="triangle">Triangle</option>
            <option value="ellipse">Ellipse</option>
            <option value="polygon">Polygon</option>
        </select>
      </div>
      
      <div class="dt-button-container" >
        <button id="stop-drawing">Stop Drawing</button>
      </div>

      <input type="number" min="1" max="100" id="size" value="3" />
       <!-- Button to trigger drawing -->
    </div>
    
    

    <div class="dt-dc-container">
      <div class="dt-default-colors" data-color="#ffffff">
        <div></div>
      </div>
      <div class="dt-default-colors" data-color="#f24822">
        <div></div>
      </div>
      <div class="dt-default-colors" data-color="#ffa629">
        <div></div>
      </div>
      <div class="dt-default-colors" data-color="#ffcd29">
        <div></div>
      </div>
      <div class="dt-default-colors" data-color="#14ae5c">
        <div></div>
      </div>
      <div class="dt-default-colors" data-color="#0d99ff">
        <div></div>
      </div>
      <div class="dt-default-colors" data-color="#9747ff">
        <div></div>
      </div>
    </div>

      <div class="dt-cp-container">
          <label for="dtPicker" class="dt-color-picker">
              <input id="dtPicker" type="color" style="visibility: hidden; opacity: 0; width: 0; height: 0" />
          </label>
      </div>
  

    

    <div class="dt-undo-redo-container">
      <div class="">
        <!-- <img src="./assets/opacity.png" title="opacity" id="opacity" alt="" /> -->
        <img src="{{ url_for('static', filename='assets/opacity.png') }}" title="opacity" id="opacity" alt="" />
      </div>
      <div class="">
        <!-- <img src="./assets/brightness.png" title="brightness" id="brightness" alt="" /> -->
        <img src="{{ url_for('static', filename='assets/brightness.png') }}" title="brightness" id="brightness" alt=""/>  
      </div>

      <div class="sliderContainer" id="opacitySliderContainer" style="display:none;">
        <input type="range" id="opacitySlider" min="0" max="1" step="0.01" value="0.8">
        <span id="opacitySliderValue" style="text-justify: center; color: antiquewhite;">0.8</span>
      </div>
      
      <div class="sliderContainer" id="brightnessSliderContainer" style="display:none;">
        <input type="range" id="brightnessSlider" min="-1" max="1" step="0.01" value="0.8">
        <span id="brightnessSliderValue" style="text-justify: center; color: antiquewhite;">0.8</span>
      </div>
      
    </div>
    
    
    
    
    <div class="dt-download-container">
      <!-- <img src="./assets/upload.png" title="Download (Ctrl + E)" id="upload" alt="" /> -->
      <img src="{{ url_for('static', filename='assets/upload.png') }}" title="Upload tsv" id="upload" alt=""/>
      <input type="file" id="fileInput" accept=".txt" style="display: none;">

    </div>

    <div class="dt-download-container">
      <!-- <img src="./assets/upload.png" title="Download (Ctrl + E)" id="upload" alt="" /> -->
      <img src="{{ url_for('static', filename='assets/downloadJSON.png') }}" title="Download " id="downloadJSON" alt=""/>
      <input type="file" id="fileInput" accept=".txt" style="display: none;">

    </div>

    <div class="dt-download-container">
      <!-- <img src="./assets/upload.png" title="Download (Ctrl + E)" id="upload" alt="" /> -->
      <img src="{{ url_for('static', filename='assets/uploadJSON.png') }}" title="Upload JSON" id="uploadJSON" alt=""/>
      <input type="file" id="fileInput" accept=".txt" style="display: none;">

    </div>
    
  </div>

  
  <script src="{{ url_for('static', filename='javascripts/scripts/canvas.js') }}"></script>
  <script src="{{ url_for('static', filename='javascripts/scripts/objectDraw.js') }}"></script>
  <script src="{{ url_for('static', filename='javascripts/scripts/copyObject.js') }}"></script>
  <script src="{{ url_for('static', filename='javascripts/scripts/groupingObjects.js') }}"></script>



  <!-- <script src = "./scripts/canvas.js"></script>
  <script src = "./scripts/objectDraw.js"></script>
  <script src = "./scripts/copyObject.js"></script>
  <script src = "./scripts/groupingObjects.js"></script> -->

</body>

</html>