<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drawing Tablet</title>
  <!-- <link rel="stylesheet" href="style.css" />
  <script src = "lib/jquery.min.js"></script>
  <script src = "lib/fabric.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/regression/2.0.1/regression.min.js"></script> -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/favicon.png') }}" />

  <style>
    body {
      padding: 0;
      margin: 0;
      overflow: hidden;
    }
  </style>
  <!-- <script src="../addons/p5.sound.js"></script> -->


  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
  <!--<script src="{{ url_for('static', filename='javascripts/lib/jquery.min.js') }}"></script> -->


  <script src="{{ url_for('static', filename='../static/javascripts/lib/p5.js') }}"></script>
  <!--<script src="{{ url_for('static', filename='../static/javascripts/scripts/grid.js') }}"></script>-->
  <!--<script type = "module" src="{{ url_for('static', filename='../static/javascripts/scripts/sketch.js') }}"></script>-->
  <script src="{{ url_for('static', filename='../static/javascripts/scripts/test.js') }}"></script>

</head>

<body>
  <main>
  </main>
</body>

</html>