<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Drawing Tablet</title>

    <style>
        body {
          padding: 0;
          margin: 0;
          overflow: hidden;
          touch-action: none;
        }
        canvas {
          display: block;
          touch-action: none;
        }
    </style>
    <script src = "../static/javascripts/lib/p5.min.js"></script>
    <script type="module" src = "../static/javascripts/scripts2/sketch.js"></script>
</head>
<body>
</body>
</html>
